<h1>When are you working</h1>
<form action="fee" method="POST">

<div>
    <input type="radio" name="shift" value="morning">morning
</div>
<div>
    <input type="radio" name="shift" value="afternoon">afternoon
</div>
<div>
    <input type="radio" name="shift" value="evening">evening
</div>
<div>
    <input type="submit" name="Get price">
</div>

</form>